@import url(../css/fonts.css);
@import url(../css/normalize.css);
@import url(../css/reset.css);
@import url(../css/responsive.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.container {
  max-width: 1600px;
}

.wrapper {
  padding: 0 250px;
}
