@charset "UTF-8";
@import url(../css/fonts.css);
@import url(../css/normalize.css);
@import url(../css/responsive.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
}

ul, li {
  display: inline-block;
  list-style-type: none;
}

h2 {
  font-size: 5em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #161418;
  text-transform: uppercase;
}

/* стили параграфов */
.main__p, .main__p-bold {
  font-size: 1em;
  font-weight: 400;
  color: #161418;
  line-height: 30px;
}

.main__p-bold {
  font-weight: 800;
}

/* описание для карточек товаров */
.desc__p {
  font-size: 1.2em;
  font-weight: 400;
  color: #161418;
}

/* оранжевые буквы */
.orange__text {
  color: #fa7f34;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 250px;
}

/* block-1 header */
.header {
  width: 100%;
  min-height: 950px;
  background-image: url("../img/bg_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Верхняя часть хэдера */
.header__top {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu, .login__buttons {
  font-size: 70%;
  font-weight: 700;
}

.header__menu a, .login__buttons a {
  color: #ffffff;
}

.header__menu {
  text-transform: uppercase;
}

.header__menu li:nth-child(1) {
  margin-left: 25px;
}

.header__menu li + li {
  margin-left: 25px;
}

.login__buttons {
  text-transform: uppercase;
}

.login__buttons li + li {
  margin-left: 25px;
}

.login__buttons li:nth-child(3) {
  padding: 15px 18px;
  border: 2px solid white;
}

.header__left {
  display: flex;
  justify-content: left;
}

/* Контент хэдера, заголовок */
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 12.1em;
  text-transform: uppercase;
}

.header__p {
  margin-top: 2.1em;
  margin-bottom: 5em;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

.main__btn {
  width: 12em;
  padding: 1.2em 2em;
  background-color: #fa7c30;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

/* form Online-booking */
.online__booking {
  position: absolute;
  top: -210px;
  left: 250px;
  right: 250px;
  background-color: #ffffff;
}

.online__booking-inner {
  display: flex;
  justify-content: space-between;
}

.booking__desc {
  padding: 65px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.booking__desc h3 {
  margin-top: 25px;
}

.booking__desc .booking__desc-text {
  text-align: center;
  text-transform: uppercase;
}

.booking__desc .booking__desc-text span {
  font-size: 1.8em;
  font-weight: 700;
}

.booking__desc-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* form input-block */
.booking__form-block {
  width: 30%;
  padding: 13px 15px 13px 0;
  margin-bottom: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.booking__form-block:active {
  outline: none;
}

.booking__form-block:focus {
  outline: none;
}

.booking__form-date {
  background: url("../img/date_shedule.png");
}

.booking__form-time {
  background: url("../img/Timer_icon.png");
}

.booking__form-date, .booking__form-time {
  background-repeat: no-repeat;
  background-position: right;
}

/* block-2 Welcome */
.welcome {
  position: relative;
  background-color: #f1f4f6;
}

.welcome-inner {
  padding: 419px 55px 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__text {
  max-width: 390px;
}

.welcome__text h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.welcome__text .main__p-bold {
  margin: 25px 0;
}

/* block-3 Photoblock */
.photoblock {
  background-color: #fff;
  min-height: 976px;
}

.photoblock__text {
  padding-top: 80px;
}

.photoblock__text p {
  margin-bottom: 50px;
  margin-top: 20px;
}

.photoblock__image-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image__info {
  width: 31.5%;
  background-color: #f1f4f6;
}

.image__info img {
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
}

.image__info span, .image__info p {
  padding: 0 40px;
}

.image__info button {
  margin-left: 40px;
  margin-bottom: 50px;
}

.image__info span {
  font-size: 1.8em;
  font-weight: 700;
}

.desc__p {
  margin-top: 20px;
  margin-bottom: 50px;
}

.personal__trainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 586px;
  background-image: url(../img/bg_persTrainer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.personal__trainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 2;
}

.personal__trainer-inner {
  text-align: center;
  z-index: 3;
}

.personal__trainer-inner h3 {
  margin-bottom: 25px;
  font-weight: 400;
  color: #fff;
}

.personal__trainer-inner h2 {
  margin-bottom: 50px;
}

/* block-5 expert-trainers */
.expert-trainers__inner {
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.expert-trainers__photo-trainers {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expert-trainers__block {
  width: 30%;
}

.expert-trainers__photo img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.expert-trainers__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.expert-trainers__name p {
  margin-bottom: 20px;
}

.expert-trainers__orange-text {
  color: #fa7c30;
  font-weight: 900;
}

.expert-trainers__description {
  text-align: center;
}

/* block-6 free 5 days & call */
.free-days {
  width: 100%;
  height: 440px;
}

.free-days__inner {
  width: 100%;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free-days__blocks {
  width: 50%;
  min-height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.free-days__blocks h3 {
  margin-top: 15px;
  margin-bottom: 25px;
  color: white;
  font-weight: 900;
}

.free-days__left {
  background-image: url(../img/bg_footerLeft.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.free-days__right {
  background-image: url(../img/bg_footerRight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
