@import "../css/fonts.css"
@import "../css/normalize.css"
@import "../css/reset.css"
@import "../css/responsive.css"

@mixin flex
  display: flex
  justify-content: space-between
  align-items: center

*
  box-sizing: border-box
  margin: 0
  padding: 0

a
  display: block
  text-decoration: none

ul, li
  list-style-type: none

body
  font:
    family: 'OpenSans', sans-serif
    size: 1em
    weight: 400

.container
  max-width: 1600px

.wrapper
  padding: 0 250px